:root {
  --button-backgroundColor: rgb(159, 247, 210);
  --button-hover-backgroundColor: rgb(132, 250, 201);
  --svg-background-image1: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='300' height='560' preserveAspectRatio='none' viewBox='0 0 300 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1092%26quot%3b)' fill='none'%3e%3crect width='300' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsPath1093' x='30' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='30' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='30' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='30' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='30' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='30' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='30' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='30' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='30' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='30' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='90' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='90' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='90' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='90' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='90' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='90' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='90' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='90' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='90' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='90' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='150' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='150' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='150' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1097' x='150' y='210' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='150' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='150' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='150' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='150' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1097' x='150' y='510' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='150' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1098' x='210' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='210' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='210' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='210' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1098' x='210' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='210' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='210' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1097' x='210' y='450' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='210' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='210' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='270' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1098' x='270' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='270' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1097' x='270' y='210' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='270' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='270' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='270' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='270' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='270' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='270' y='570' stroke='%231c538e'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1092'%3e%3crect width='300' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1098'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1096'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1095'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1094'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1093'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1097'%3e%3c/path%3e%3c/defs%3e%3c/svg%3e");
  --svg-background-image2: url('./images/svg/world-map2.svg');
  --svg-background-image3: url('./images/svg/rain.svg');
  --svg-background-image4: url('./images/svg/stars.svg');
  --svg-background-image5: url('./images/svg/stars-fullscreen.svg');
  --svg-background-image6: url('./images/svg/sunny-background.svg');
  --svg-background-image7: url('./images/rain-background.jpg');
  --svg-background-image8: url('./images/svg/night-background.svg');
  --svg-background-image9: url('./images/svg/day-background.svg');
  --svg-background-image3-animated-diary: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='300' height='560' preserveAspectRatio='none' viewBox='0 0 300 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1038%26quot%3b)' fill='none'%3e%3crect width='300' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M35.91 61.64 a94.3 94.3 0 1 0 188.6 0 a94.3 94.3 0 1 0 -188.6 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M114.7 511.93 a87.05 87.05 0 1 0 174.1 0 a87.05 87.05 0 1 0 -174.1 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M58.17 338.28 a60.15 60.15 0 1 0 120.3 0 a60.15 60.15 0 1 0 -120.3 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-19.64 487.23 a99.9 99.9 0 1 0 199.8 0 a99.9 99.9 0 1 0 -199.8 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1038'%3e%3crect width='300' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  --svg-background-image4-animated: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1000' height='560' preserveAspectRatio='none' viewBox='0 0 1000 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1684%26quot%3b)' fill='none'%3e%3crect width='1000' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1685%26quot%3b)'%3e%3c/rect%3e%3cpath d='M381.284%2c594.449C414.962%2c595.809%2c451.356%2c587.671%2c468.592%2c558.707C486.12%2c529.252%2c477.779%2c492.129%2c459.382%2c463.209C442.4%2c436.514%2c412.837%2c423.794%2c381.284%2c421.457C343.867%2c418.686%2c299.046%2c417.496%2c280.201%2c449.939C261.317%2c482.449%2c283.839%2c521.309%2c305.389%2c552.117C323.184%2c577.558%2c350.262%2c593.196%2c381.284%2c594.449' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M234.95 97.99 a147.61 147.61 0 1 0 295.22 0 a147.61 147.61 0 1 0 -295.22 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M356.91 519.48 a121.82 121.82 0 1 0 243.64 0 a121.82 121.82 0 1 0 -243.64 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M597.47 482.67 a167.13 167.13 0 1 0 334.26 0 a167.13 167.13 0 1 0 -334.26 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M544.45 237.64 a121.97 121.97 0 1 0 243.94 0 a121.97 121.97 0 1 0 -243.94 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1684'%3e%3crect width='1000' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='11%25' y1='-19.64%25' x2='89%25' y2='119.64%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1685'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 89%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

  /* weather conditions wallpaper */
  --img-background-partially-cloudy: url('./images/weather-conditions-wallpaper/partially-cloudy.jpg');
  --img-background-sunny: url('./images/weather-conditions-wallpaper/sunny.jpg');
  /* Fonts */
  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-garamond: 'EB Garamond', serif;
}

body {
  position: relative;

  /*   background-image: var(--svg-background-image9); */
  background-size: cover;
  background-repeat: no-repeat;

  background-color: rgb(60, 60, 60);
  display: flex;
  justify-content: center;
  font-family: var(--font-family-poppins);
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

/* animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heightAnimIn {
  0% {
    height: 0;
  }
  100% {
    height: 950px;
  }
}

@keyframes heightAnimOut {
  from {
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    transform: scaleY(0);
    opacity: 0;
  }
}

@keyframes heightAnimIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}

.main-wrapper {
  background-color: rgba(206, 206, 206, 0.514);
  margin-block: 20px;
  height: 95vh;
  width: 65%;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

/* initial unit selector window */

.initial-unit-selector-window {
  font-size: 1.3rem;
  height: 400px;
  width: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(67, 111, 160, 0.808);
  backdrop-filter: blur(10px);
  will-change: background-image;
  z-index: 2;
}

.initial-unit-selector-window > p:first-of-type {
  position: absolute;
  top: 10%;
  text-decoration: underline;
}

.initial-unit-selector-window > p:nth-of-type(2) {
  margin-top: 50px;
}

.initial-unit-selector-window > p:nth-of-type(2):hover,
.initial-unit-selector-window > p:nth-of-type(3):hover {
  background-color: rgba(44, 132, 143, 0.74);
  border-radius: 10px;
  cursor: pointer;
}

.initial-unit-selector-window > p {
  font-size: 1.8rem;
  padding: 5px;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  will-change: backdrop-filter;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}

.clear-storage {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* header */

.search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 30px;
  height: 28%;
  background-image: var(--svg-background-image7);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: rgba(41, 41, 41, 0.863);
  font-size: 1.8rem;
  border-radius: 10px;
  overflow: hidden;
}

.input-text-wrapper {
  position: relative;
  display: inline-block;
  max-width: 300px;
  min-width: 100px;
  width: 100%;
  overflow: hidden;
}

label {
  margin-top: 10px;
  color: rgb(41, 41, 41);
  background-color: rgba(252, 252, 252, 0.39);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 5px;
}

input {
  font-size: 1.1rem;
  border-radius: 5px;
  height: 35px;
  max-width: 300px;
  min-width: 100px;
  width: 100%;
  background: linear-gradient(to left, white 50%, rgba(159, 243, 215, 0.568) 50%) right;
  background-size: 200% 200%;
  backdrop-filter: blur(10px);
  transition: 200ms ease-out;
  padding-left: 5px;
  padding-right: 30px; /* Add padding to the right for the icon space */
  box-sizing: border-box; /*  Ensure padding does not affect total width  */
}

input:focus {
  background-position: left;
  outline: transparent;
}

#location-icon {
  position: absolute;
  top: 18%;
  right: -12%;
  height: 32px;
  width: 32px;
  transition: right 300ms ease-in-out;
  pointer-events: none;
}

#location-search:focus + #location-icon {
  right: 3%;
}

.button {
  position: relative;
  background: linear-gradient(to bottom, var(--button-backgroundColor) 50%, rgb(84, 180, 121) 50%)
    top;
  background-size: 200% 200%;
  transition-duration: 250ms;
  font-family: var(--font-family-garamond);
  font-size: 1.4rem;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.button:hover {
  cursor: pointer;
  background-position: bottom;
}

#search-icon {
  position: absolute;
  transition-duration: 300ms;
  left: 80%;
  height: 32px;
  width: 32px;
}

.unit-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  background: linear-gradient(to left, rgba(51, 114, 182, 0.8) 50%, rgb(46, 132, 224, 0.8) 50%)
    right;
  background-size: 210% 100%;
  transition-duration: 250ms;
}

.unit-selector:hover {
  cursor: pointer;
  background-position: left;
}

.thermometer-celsius,
.thermometer-fahrenheit {
  height: 59px;
  width: 59px;
}

/* greeting screen */

.greet-animation-wrapper {
  margin-inline: auto;
  height: 700px;
  width: 700px;
}

.greeting-text {
  margin-top: 20px;
  padding: 10px;
  font-size: 2rem;
  margin-inline: auto;
  text-align: center;
  color: rgba(36, 36, 36, 0.781);
  background-color: rgba(77, 160, 156, 0.733);
}

/* Weather Data */

/* Error Text when Location does not exist */
.weather-info > p {
  text-align: center;
  margin-top: 40px;
  font-size: 2rem;
}

.current-condition-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  gap: 10px;
  background-color: rgba(214, 214, 214, 0.377);
  border-radius: 10px;
  color: rgb(51, 51, 51);
  padding-bottom: 10px;
}

.current-condition-wrapper > p:first-of-type {
  text-align: center;
  font-size: 1.9rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.548);
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
}

.current-weather-animation {
  position: absolute;
  right: 1%;
  bottom: 3%;
  height: 128px;
  background-color: rgb(43, 60, 116);
  border-radius: 15px;
}

.weather-data-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px;
}

.weather-data-wrapper p:first-of-type {
  font-weight: 600;
}

.weather-data-wrapper p:nth-child(2) {
  font-weight: bold;
}
